 /* navigation bar....  */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

 /* home section */

#home{
    height: 370px;
    padding: px 28px;
    /* flex-direction: column; */
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
 /* services section */

 #services{
    flex-direction: column;

 }

 #Services .box{
padding: 14px;
margin: 2px 0px;
margin-bottom: 20px;
 
} 

/* second services */
#secondservices .boxs{
margin: 15px 15px 15px 59px;
}
 /* client section  */
#clients{
 flex-wrap: wrap;
    overflow: hidden;
}
#clients img{
    height: auto;
    width: 66px;
    padding: 6px;
}


 /* contact section  */
 .form-group{
    width: 80%;
 }
.form-group input {

    width: 243px;
    padding: 11px;
    margin: 27px auto 17px 69px;

}

#contact-form {

    margin: 12px 200px;
    padding: 12px 21px;
}
 /* footer   */


 /* utility cass..  */
 .h-primary{

    font-size: 26px;
 }





